<div ng-controller="EventListController">

<!--Change style of map however works best with Navbar-->
<leaflet width="100%" height="480px" center="startlocation" tiles="tiles" geojson="geojson" defaults="defaults"> </leaflet>
</div>

